:root {
  --back-color: #141313;
  --primary-color: #eead06;
  --secondary-color: #c1b058;
  --heading-color: #ac8a11;
}

*::before,
*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

a:visited,
a:active,
a:hover {
  color: inherit;
}

li {
  list-style: none;
}

.containers {
  padding: 0px 120px;
}

.logo {
  font-size: 2.6rem;
  font-weight: 800;
  color: var(--primary-color);
  cursor: pointer;
}

.heading {
  font-size: 3rem;
  font-weight: 700;
  color: var(--heading-color);
  letter-spacing: 3px;
  word-spacing: 5px;
}

@media screen and (max-width: 425px) {
  .heading {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--heading-color);
  }
}

.text {
  font-size: 2rem;
  font-weight: 400;
  color: var(--secondary-color);
  line-height: 35px;
  word-spacing: 2px;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 425px) {
  .text {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--heading-color);
    line-height: 25px;
    word-spacing: 0px;
    letter-spacing: 0px;
  }
}

.btn {
  margin-top: 20px;
  width: 200px;
  height: 35px;
  background-color: var(--primary-color);
  color: black;
  font-size: 1.8rem;
  outline: none;
  border: none;
}

@media screen and (max-width: 768px) {
  .btn {
    width: 150px;
    height: 30px;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 425px) {
  .btn {
    width: 100px;
    height: 20px;
    font-size: 1rem;
  }
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--back-color);
  font-family: "Mulish", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Roboto", sans-serif;
}

/*navigation*/
.header {
  height: 70px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 9999;
  background-color: var(--back-color);
}

.lo {
  flex: 1;
}

.header .menu {
}

.header .menu .menu-item {
  display: inline-block;
}

.header .menu .menu-item a {
  color: var(--primary-color);
  font-size: 1.825rem;
  padding: 5px;
  text-decoration: none;
  background-color: inherit;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.header .menu .menu-item:nth-child(-n + 2) {
  margin-right: 100px;
}

.header .menu .menu-item a:hover {
  background-color: rgb(66, 65, 65);
}

/*tablet*/
@media screen and (max-width: 768px) {
  .containers {
    padding: 0 50px;
  }
  .header .menu .menu-item:nth-child(-n + 2) {
    margin-right: 50px;
  }
}

/*mobile large*/
@media screen and (max-width: 425px) {
  .containers {
    padding: 0 20px;
  }

  .logo {
    font-size: 2.2rem;
  }

  .header .menu .menu-item a {
    font-size: 1.2rem;
  }
  .header .menu .menu-item:nth-child(-n + 2) {
    margin-right: 20px;
  }
}

/*mobile small*/
@media screen and (max-width: 320px) {
  .containers {
    padding: 0 10px;
  }

  .logo {
    font-size: 2rem;
  }

  .header .menu .menu-item a {
    font-size: 1rem;
  }
  .header .menu .menu-item:nth-child(-n + 2) {
    margin-right: 10px;
  }
}

/*hero*/

.hero {
  width: 100%;
  height: 800px;
  background: url(../assests/img1\ 1.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.sub-hero {
  width: 100%;
  height: 800px;
  background: url(/assests/img2\ 1.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.sub-hero2 {
  width: 100%;
  height: 800px;
  background: url(/assests/g6\ 1.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/*gallery*/

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery .gallery-pic {
  margin: 20px auto;
  width: 800px;
  height: 600px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  cursor: pointer;

  display: grid;
  grid-template-columns: 400px 200px 200px;
  grid-template-rows: auto;

  grid-template-areas:
    "pics1 pics2 pics3"
    "pics1 pics4 pics5"
    "pics6 pics6 pics5";
}

.gallery .gallery-pic .pic1 {
  background-image: url(/assests/pic1.png);
  background-position: center;
  background-size: cover;
}
.gallery .gallery-pic .pic2 {
  grid-area: pics2;
  background-image: url(/assests/pic2.png);
  background-position: center;
  background-size: cover;
}
.gallery .gallery-pic .pic3 {
  grid-area: pics3;
  background-image: url(/assests/pic3.png);
  background-position: center;
  background-size: cover;
}
.gallery .gallery-pic .pic4 {
  grid-area: pics4;
  background-image: url(/assests/pic4.png);
  background-position: center;
  background-size: cover;
}
.gallery .gallery-pic .pic5 {
  grid-area: pics5;
  background-image: url(/assests/pic5.png);
  background-position: center;
  background-size: cover;
}
.gallery .gallery-pic .pic6 {
  grid-area: pics6;
  background-image: url(/assests/pic6.png);
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1024px) {
  .gallery .gallery-pic {
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .gallery .gallery-pic {
    width: 600px;
    grid-template-columns: 250px 150px 150px;
  }
}

@media screen and (max-width: 425px) {
  .gallery .gallery-pic {
    width: 400px;
    grid-template-columns: 150px 120px 120px;
  }
}
@media screen and (max-width: 375px) {
  .gallery .gallery-pic {
    width: 300px;
    grid-template-columns: 120px 80px 100px;
  }
}

/*awards*/

.award .box {
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: #181717;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.award .box .box1 {
  width: 300px;
  height: 300px;
  background-image: url(/assests/a1.png);
  background-position: center;
  background-size: cover;
}

.award .box .box2 {
  width: 300px;
  height: 300px;
  background-image: url(/assests/a2.png);
  background-position: center;
  background-size: cover;
}

.award .box .box3 {
  width: 300px;
  height: 300px;
  background-image: url(/assests/a3.png);
  background-position: center;
  background-size: cover;
}

.award .box .box4 {
  width: 300px;
  height: 300px;
  background-image: url(/assests/a4.png);
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .award .box {
    padding: 50px;
  }
  .award .box .box1,
  .award .box .box2,
  .award .box .box3,
  .award .box .box4 {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 425px) {
  .award .box {
    padding: 50px;
  }
  .award .box .box1,
  .award .box .box2,
  .award .box .box3,
  .award .box .box4 {
    width: 250px;
    height: 150px;
  }
}

@media screen and (max-width: 375px) {
  .award .box {
    padding: 20px;
  }

  .award .box .box1,
  .award .box .box2,
  .award .box .box3,
  .award .box .box4 {
    width: 250px;
    height: 150px;
  }
}

.contact {
}

.contact .box .box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  padding: 20px;
  background-color: #181717;
}

.footer {
  text-align: center;
}

/*galleryPAge*/
.galleryPage {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.galleryPage .galleryPage-pic {
  margin: 20px auto;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.galleryPage .galleryPage-pic .pic1 {
  cursor: pointer;
  width: 250px;
  height: 250px;
  background-image: url(/assests/pic1.png);
  background-position: center;
  background-size: cover;
}
.galleryPage .galleryPage-pic .pic2 {
  cursor: pointer;
  width: 250px;
  height: 250px;
  background-image: url(/assests/pic2.png);
  background-position: center;
  background-size: cover;
}
.galleryPage .galleryPage-pic .pic3 {
  cursor: pointer;
  width: 250px;
  height: 250px;
  background-image: url(/assests/pic3.png);
  background-position: center;
  background-size: cover;
}
.galleryPage .galleryPage-pic .pic4 {
  cursor: pointer;
  width: 250px;
  height: 250px;
  background-image: url(/assests/pic4.png);
  background-position: center;
  background-size: cover;
}
.galleryPage .galleryPage-pic .pic5 {
  cursor: pointer;
  width: 250px;
  height: 250px;
  background-image: url(/assests/pic5.png);
  background-position: center;
  background-size: cover;
}
.galleryPage .galleryPage-pic .pic6 {
  cursor: pointer;
  width: 250px;
  height: 250px;
  background-image: url(/assests/pic6.png);
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1024px) {
  .galleryPage .galleryPage-pic {
  }
}

@media screen and (max-width: 768px) {
  .galleryPage .galleryPage-pic {
  }
}

@media screen and (max-width: 425px) {
  .galleryPage .galleryPage-pic {
  }
}
@media screen and (max-width: 375px) {
  .galleryPage .galleryPage-pic {
  }
}

.mod {
  position: absolute;
  width: 50%;
  opacity: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 500px;
  display: none;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 9999;
  position: relative;
  transition: all 2s ease;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
}

.mod .close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ffff;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

@media screen and (max-width: 1024px) {
  .galleryPage .galleryPage-pic .pic1,
  .galleryPage .galleryPage-pic .pic2,
  .galleryPage .galleryPage-pic .pic3,
  .galleryPage .galleryPage-pic .pic4,
  .galleryPage .galleryPage-pic .pic5,
  .galleryPage .galleryPage-pic .pic6 {
    width: 200px;
    height: 250px;
  }

  .mod {
    width: 100%;
    height: 800px;
  }
}

@media screen and (max-width: 768px) {
  .mod {
    width: 100%;
    height: 400px;
  }
}
